.wrapper_introduce{
    background-image: url("img/background_07.png");
    margin-left: 30px!important;
    margin-right: 30px!important;
    margin-top: -25px;
}
.introduce_left strong{
    margin-left: 25px;
    font-size: 39px;
    color: #3d68b2;
    font-family: "Helvetica";
}
.introduce_left_top{
    margin-top: 100px;

}
.introduce_left_bot{
    padding-left: 45px;

}

.introduce_left_bot_content{
    margin-bottom: 10px;
    border: 1px solid #5bc0de;
}

.introduce_left_bot_content p{
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    overflow: auto;
    font-family: "Helvetica Neue";
    font-size: 16px;
    opacity: 0.8;
    height: 180px;
    color: black;

}

.introduce_right_slide{
    width: 100%;
    position: relative;
}

.introduce_right_btn{
    color: black;
    bottom: 10px;
    right: 20px;
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 30px;
    background-color: #00aeef !important;
    font-family: "Helvetica Neue";
}

.owl-theme .owl-controls {
    display: none !important;
}


@media screen and (max-width: 350px)  {
    .banner_cot2 a{
        font-size: 18px !important;
    }
    .banner_cot2 .search_bar .menu_search_bar{
        border-radius: 20px;
        background-color: darkgray;
        margin-left: 10px;
        width: 200px;
        padding-right: 50px !important;
    }
    .menu_logo{
        width: 80px;
    }
    .introduce_left strong{
        font-size: 23px !important;
    }
    .introduce_left_bot_content p{
        font-size: 14px !important;
    }
    .introduce_right_btn{
        bottom: 10px;
        right: 20px;
        position: absolute;
        z-index: 1;
        font-size: 10px !important;
        width: 75px !important;
        line-height: 20px !important;
        background-color: #00aeef !important;
        font-family: "Helvetica Neue";
    }
    .content_top_btn{
        margin-top: 15px !important;
        width: 90px !important;
        height: 90px !important;
        text-align: center;
        position: relative;
        margin-right: 13px !important;
        background-size: cover;
    }
    .content_top_img{
        height: 30px !important;
        margin-top: 10px !important;
        margin-left: 5px !important;
    }
    .content_top_title{
        display: block;
        font-size: 12px !important;
        color: white;
        font-weight: bold;

    }
    .content_top_btn:hover .content_top_img{
        animation-name: rotate360;
        animation-duration: 2s;
    }
    .content_top_tong{
        margin-left: 10px !important;
    }}
